body{
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;

}

h3{
    color: white;
    text-align: center;
    margin: 10px 0 20px;
}

textarea{
    padding: 10px;
    width: 100%;
    height: 50%;
    display: block;
    margin: 0 0 20px;
    font-size: 1rem;
}

.tag {
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
  }
  
  .tag.highlight {
    background-color: #273c75;
  }
  

