body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7979;
    height: 100vh;
}

.speedController{
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}